* {
    margin: 0;
    background-color: #efeee7;
    font-family: serif;
    padding: 0;
}

a {
    color: red;
}

/*TOP HEADER STYLING*/
.header h1 {
    background-color: black;
    text-align: center;
    color: #efeee7;
    size: 36px;
    padding: 10px;
}

/*H2 STYLING AND SPACING*/
h2 {
    padding: 30px;
}

/*BIO ARTICLE STYLING*/
.about {
    display: inline-block;
    vertical-align: top;
    width: 70%;
}

.about p {
    font-size: 18px;
    line-height: 1.7;
    padding: 0 0 0 30px;
}

.about img {
    float: left;
    padding: 0 10px 0 30px;
    width: 200px;
    height: 200px;
}

/*CONTACT INFO STYLING*/
.contact {
    display: inline-block;
}

.contact ul {
    padding-left: 70px;
    font-size: 18px;
}